/*animated Menu*/

body, html {
	margin:0px;
	padding:0px;
	position:relative
}

.navigation {
	position: relative;
	left: 0px;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
    font-size: 20px;
	text-shadow:0px 0px 1px rgba(0,0,0,0.2);
	list-style: none;
	top: 0px;
	height: 100px;
}


.navigation > li {
	position: relative;
	background: #1F2605;
    text-align: right;
	width: 300px;
	height: 20px;
	padding: 20px;
	margin-top: 2px;
	left: -250px;
	border-right: 50px solid #53900F;
	-webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
}

li.openSesame {
	left:0px;
}