/* This main css file contains the default rules and is geared toward the small/phone view */

* {box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

.content{
    max-width: 960px;
    margin: auto;
}
   p, a {
    font-family: 'Open Sans', sans-serif;
    color: #D6CE15;
    }
  h1, h2, h3, header, title{
     font-family: 'Cinzel Decorative', cursive;
     color: #D6CE15;
      text-align: center;
    }

    /*video background*/

    body {
        margin: 0;
        padding: 0;
        /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
        background:#1F2605;
        background-attachment: fixed;
        background-size: cover;
        }

        /* The only rule that matters */
    #video-background {
        /*  making the video fullscreen  */
        position: fixed;
        right: 0; 
        bottom: 0px;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;
        z-index: -100;
        }

 nav a{
    color: #D6CE15;
    }
 .active a{
    color: #D6CE15;
    }
 .current a{
    color: #53900F;
    }
 .current{
    border-right: 50px solid #D6CE15;
    }


/*---Clearfix: Force an Elenent not to collapse---*/
.clearfix{
    content: "";
    display: table;
    clear: both;
    }

    /*logo image*/
    header img{ 
        width: 100px;
        height: 100px;
        margin: 5px;
        }

    header h1{
        margin: 10px;
        padding: 0px;
        }

    div .header{
        display: inline-flex;
        }
/* main page*/
main h1{
    text-align: center;
    margin: 20px;
}
    .bicycles img, .calltoaction img, .services img {
        width: 350px;
        height: 200px;
        }

    div .bicycles, div .calltoaction, div .services{
        border: 5px solid #53900F;
        text-align: center;
        background-color: #1F2605;
        }

    section h1, .registerBtn{
        text-align: center;
        color: #D6CE15;
        }

    .registerBtn{
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        background-color: #53900F;
        box-shadow: 5px 8px 5px #000;
        padding: 5px;
        border-radius: .8em;
        border:  #1F6521 solid 3px;
        color: #D6CE15;
        }
/*adventure tours*/

    .tourone, .tourtwo, h1{
        margin: 30px;
        text-align: justify;
        }
   

/*Events/Registration Form*/

    span, label{
        font-family: 'Open Sans', sans-serif;
        color: #D6CE15;
        }

    main{
        margin-top: 200px;
        }

    form{
        min-width: 400px;

        }
    label{
        display: block;
        margin: .5em;
        padding: 10px;
    
        }

    fieldset{
        margin: 1.5px 5px;
        background-color: #53900F;
        padding: 10px;
        border-radius: .8em;
        border: #1F6521 solid 3px;
        }

    legend{
        text-align: center;
        color: #1F6521;
        font-size: 25px;
        background-color: #1F6521;
        box-shadow: 5px 8px 5px #1F2605;
        padding: 10px;
        border-radius: .8em;
        border: #53900F solid 2px;
        }

    .submitBtn, .resetBtn{
        display: inline-flex;
        font-family: 'Open Sans', sans-serif;
        color: #D6CE15; 
        font-size: 20px;
        background-color: #1F6521;
        box-shadow: 5px 8px 5px #1F2605;
        padding: 10px;
        margin: 10px;
        margin-bottom: 20px;
        border-radius: .8em;
        border: #53900F solid 2px;
        }
    #divide {
        text-align: justify;
        margin: 20px;
        
    }

    /*end of form styles*/

/*bicycle sales*/
    #specs1, #specs2, #specs3{
        font-family: 'Open Sans', sans-serif;
        color: #D6CE15;
        font-size: 12px;
        width: 350px;
        border: #53900F solid 5px;
        display: inline-block;
        text-align:left;
        margin: 10px;
        }
  
    /*services and repairs*/

    th{ 
        font-family: 'Cinzel Decorative', cursive;
        color: #D6CE15;
        border: 2px solid #53900F;
        }
    table, td{
        font-family: 'Open Sans', sans-serif;
        color: #D6CE15;
        border: 2px solid #53900F;
        }

    footer{
        display: inline-block;
        min-width: 400px;
        text-align: center;
        }

   footer img{
        width: 100px;
        height: 100px;
        margin: 5px;
        }
