@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
   #image2 {
        display: inline-block;
        padding: 0;
        width: 1030px;
        height: 150px;
    }
    
    section.forecast { 


     }  /* show the 10-day forecast with the medium view and up */
    
    table {
        width: 64em;
    }
    article p.town-article img { 
        width: 29.333%; 
    }

    footer {
        min-width: 87em;
    }

    footer aside {
      
    }

    footer>p {
     
    }
}