@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
   
    nav{
      display: flex;
    }
   header img{
        display: inline-block;
        padding: 0;
        width: 100%;
        height: 150px;
    }
    article p {
        text-align: justify;
    }
    section.forecast { 
 }  /* show the 10-day forecast with the medium view and up */
    
    table {
        width: 100%;
    }
    article p.town-article img { 
        width: 39.333%; 
    }

    footer {
        width: 100%;
    }

    footer>p {
     
    }
}