/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box; }  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: 'Josefin Sans', sans-serif,'courier new';
    font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header {
    font-family: bookman old style; 
    font-size: 40px;
}
header h1 {
    font-family: bookman old style;
    font-size: 30px;
    margin: auto;
}
header h2 {
    font-family: bookman old style;
    font-size: 25px;
}
header h3 {
    font-family: bookman old style;
    font-size: 20px;
}
header img {
    display: inline-block;
    padding: 5px;
    width: 100%;
}

nav{
    display: inline-block;
    width: 100%;
    padding: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #3D59AB;
    text-align: center;
    border: .5px;
}
nav ul li {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
nav ul li a {
    display: block;
    color: #4CAF50;
    padding: 5px 8px;
    text-decoration: none;
}
nav ul li.active a {
    background-color: #4CAF50;
    color: #FFEC8B; 
}
nav ul li a:hover {
    background-color: #4CAF50;
    color: #FFEC8B;
}
nav ul.hide {display: none;}

/*---Clearfix: Force an Elenent not to collapse---*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
}

button {
    margin: .2rem 2%;
    background-color: #008000;
    border: none;
    font-size: 1.6rem;
       
}

#image3 {
    display: none;
}
main img{
        display: inline-flex;
        width: 100%;
        padding: 10px
    }
main figure{
        text-align: center;
    }
 main section h3 {
        text-align: center; 
    } 
main p {
        text-align: center
    }
main img {
    display: inline-block;
    width: 100%;
    }
main h2 {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin:0;
    color: #008000;  
}
main figure {  
  float: right;      
  text-align: center;
  text-indent: 0;
  border: none;
  margin: 0;
  padding: 0;
}
main figure img {  
    width: 100%;
}
main .forecast {
    display: none;
}
#image-s{
    display: flex;
    justify-content: space-around;
}
.highlow {
    display: flex;
    justify-content: space-around;
}
.condition {
    display: flex;
}

main article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
 /* fill the page in the small/phone view */
    float: right;
    padding: 0 10px 10px 10px; 
}

article p {
    text-align: justify;
}
footer { 
    color: #FFEC8B;
    background-color: #008000;
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
}

footer aside {
    margin: 0;
    padding: 0;
    text-align: center;
    
}
footer>p {
    margin: 5px;
    padding: 5px;
    text-align: center;
   
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */