@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { display: none; }  /* hamburger button does not need to be shown */
header img {
    margin: 0;
    padding: 0;
    
    }
    #image2 {
        visibility: visible;
        display: inline-flex;
        width: 100%;
        height: 150px; 
    }
    #image1 {
       display: none;
    }

    nav {
        background-color: #3D59AB;
        display: flex;
        width: auto;
        height: auto;
    }

    nav ul.hide {display: block;}
    
    nav ul {
       list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3D59AB;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    nav ul li a:hover {
         background-color: #4CAF50;
         color: #FFEC8B;
    }
    main img{
        display: inline-flex;
        width:100%;
    }

    main figure{
        float: right;
        width: 15%;
        text-align: center;
        text-indent: 0;
        border: none;
        margin: 0;
        padding: 0;
    }
    main section p, main h3, main h2{
        font-size: 1.5rem;
    }
    section.condition, section.highlow, section.p {
        float: right;
        text-align: center;
        font-size: 2rem;

          
    }
    section.forecast { 
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        background-color: #3D59AB;
        text-align: center;
        color: #FFEC8B;
        border: 1px solid #FFEC8B; 

     }  /* show the 10-day forecast with the medium view and up */
    table {
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-table;
        border: 1px solid #FFEC8B;
        color: #3D59AB;  
    }
    
    tr, td {
       
        border: 1px solid #FFEC8B;
        background-color: #FFEC8B;
    }
  article p.town-article img { width: 52.666%; float: right; } 
    /* responsive images */


    footer {
       width: 100%;
        }
  
}