@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    
    body header img {width: 100%; }
    
    nav button { display: none; }  /* hamburger button does not need to be shown */
    
    nav {
        background-color: #3D59AB;
        display: block;
        min-width: 64em;
        height: auto;
        }

    nav ul.hide {display: flex;}
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3D59AB;
        }
    
    nav ul li {
        float: left;
        }
    
    nav ul li a {
        display: inline-flex;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
    main article p.town-article img {
        display: inline-flex;
        max-width: 25em; 
        } 
    
   #gallery1:hover, #gallery2:hover, #gallery3:hover, #gallery4:hover, #gallery5:hover, #gallery6:hover {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
        }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        }

    footer {
       width: 100%;
   
    }
}