/* This main css file contains the default rules and is geared toward the small/phone view */

* {box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: 'Josefin Sans', sans-serif,'courier new';
    font-size: 16px;
  /* Declare the base font-family - from google font api or other */
    }

body header img{
    display: inline-flex;
    width: 100%;
    }

nav {
    display: inline-block;
    width: 100%;
    padding: 1px;
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #3D59AB;
    text-align: center;
    border: .5px;
    }

nav ul li {
    display: block;
    text-align: center;
    font-size: 20px;
    }

nav ul li a {
    display: block;
    color: #4CAF50;
    padding: 5px 8px;
    text-decoration: none;
    }

nav ul li.active a {
    background-color: #4CAF50;
    color: #FFEC8B; 
    }

nav ul li a:hover {
    background-color: #4CAF50;
    color: #FFEC8B;
    }

nav ul.hide {display: none;}

/*---Clearfix: Force an Elenent not to collapse---*/
.clearfix{
    content: "";
    display: table;
    clear: both;
    }

button {
    margin: .2em 2%;
    background-color: #008000;
    border: none;
    font-size: 20px;    
    }

picture img{ width: 100%;}

#gallery1, #gallery2, #gallery3, #gallery4, #gallery5, #gallery6{
    width: 350px;
    display: center;
    }
figcaption{
    text-align: justify;
    max-width: 350px;
    }
        
main section  {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    }

#image4, figure {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    }


main h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #008000;  
    }



main .forecast { display: none; }

main article{
    display: inline-block;
    width: 100%;
}

main article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
 /* fill the page in the small/phone view */
    display: flex;
    float: right;
    padding: 0 10px 10px 10px; 
    text-align: justify;
    width: 100%;
    }

footer { 
    color: #FFEC8B;
    background-color: #008000;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    }

footer h2{
    display: inline-block;
    margin: auto;
    padding: 5px 0 5px 0;
    text-align: center;
    }

footer aside img { display: none; }

footer aside {
    margin: 0;
    padding: 0;
    text-align: center; 
    }

footer aside.img{ display: none; }

footer>p {/* This structure refers to p elements that are direct children of the footer element */
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    } 
