@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    

    body header img { width: 100%; }
    
    body { font-size: 18px; }
    
    nav button { display: flex; } 
    
    nav ul.hide { display: none; }
 
   picture img{ 
       float: left;
        width: 50%;
        margin: 2px;
        padding: 2px;   
        }
    
    main section  {
        text-align: center;
        width: auto;
        padding: 0;
        margin: 0;
        } 
    
   #image4, figure {
        float: right;
        padding: 0;
        margin: 0;
    }

    
    #gallery1, #gallery2, #gallery3, #gallery4, #gallery5, #gallery6{
        width: 400px;
        padding: 5px;
        margin: 5px;
        }
    figcaption{
        text-align: justify;
        width: 400px;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
    }
    section.forecast{ 
        margin: .5px;
        padding: .5px;
        width: 100%;
        display: inline-block;
        background-color: #3D59AB;
        text-align: center;
        color: #FFEC8B;
        border: .5px solid #FFEC8B; 
        }  /* show the 10-day forecast with the medium view and up */
    
    table {
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-table;
        border: 1px solid #FFEC8B;
        color: #3D59AB;  
        }
    
    tr, td {
        border: 1px solid #FFEC8B;
        background-color: #FFEC8B;
        }
    
    main article, main article h2{
         display: inline-block;
         text-align: justify;
         margin: 5px;
         padding: 5px;
        }
    main article p.town-article img {
        display: inline-flex;
        width: 52.666%; 
        } 
    /* responsive images */

    footer {
        display: inline-block;
        text-align: center;
        width: 100%;
        }
    
    footer aside{
        display: inline-flex;
        text-align: center;
        }
    
    footer aside img.left{
        display: flex;
        float: left;
        margin-right: 4em;
        margin-left: 4em;
        }
    footer p{
        font-size: 16px;
    }
}