/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: steelblue;
    color: darkred
    }

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
    border: 5px solid darkred;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

img{
    display:inline-block;
    padding: 20px;
    
}
#moleculeman{
    margin-left:0;
    margin-right:30px;
    margin-bottom: 80px;
}
#madameuppercut{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 160px;
}
#eternalflame{
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: auto;
}