@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    nav button { display: none; }  /* hamburger button does not need to be shown */
    
    nav ul.hide {display: flex;}
    
    #gallery1, #gallery2, #gallery3, #gallery4, #gallery5, #gallery6 {
        width: 250px;
        }

   #gallery1:hover, #gallery2:hover, #gallery3:hover, #gallery4:hover, #gallery5:hover, #gallery6:hover {
        width: 250px;
        border: 10px solid #3D59AB;
        padding: 0;
        box-shadow: 5px 10px 8px #888888;
        }
    figcaption{
        text-align: left;
        width: 250px;
        margin: 1px;
        font-size: 15px
        }
    .grid-container{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-gap: 1px 1px 1px;
        
        }
    
    footer{
        display: block;
        max-width: 800px;
        
    }
}