@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    nav button { display: none; }  /* hamburger button does not need to be shown */
    
    nav ul.hide {display: flex;}

   #gallery1:hover, #gallery2:hover, #gallery3:hover, #gallery4:hover, #gallery5:hover, #gallery6:hover {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
        }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        }

}