@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    

    body header img { 
        display:flex;
        max-width: 45em; 
        margin-left: auto;
        margin-right: auto;
        }
    
    body { 
        font-size: 18px;
        background-image: url("skybackground.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        }
    nav button { display: none; }
    
    nav {
        background-color: #3D59AB;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width:44em;
        height: auto;
        }
    nav ul.hide {display: flex;}
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3D59AB;
        }
    
    nav ul li {
        float: left;
        }
    
    nav ul li a {
        display: inline-flex;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
    
   picture img{ 
        float: left;
        max-width: 500px;
        padding: 2px;   
        }
    
    main  {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        } 
    
   #image4, figure {
        float: right;
        padding: 0;
        margin: 0;
        }

    #gallery1, #gallery2, #gallery3, #gallery4, #gallery5, #gallery6{
        width: 250px;
        padding: 5px;
        margin: 5px;
        }
    figcaption{
        text-align: justify;
        width: 250px;
        }
    
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;
        }
    
    section.forecast{ 
        margin-left: auto;
        margin-right: auto;
        width: 44em;
        display: inline-block;
        background-color: #3D59AB;
        text-align: center;
        color: #FFEC8B;
        border: .5px solid #FFEC8B; 
        }  /* show the 10-day forecast with the medium view and up */
    
    table {
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-table;
        border: 1px solid #FFEC8B;
        color: #3D59AB;  
        }
    
    tr, td {
        border: 1px solid #FFEC8B;
        background-color: #FFEC8B;
        }
    
    main article, main article h2{
         display: inline-block;
         text-align: justify;
         margin: 5px;
         padding: 5px;
        }

    main article p.town-article img {
        display: flex;
        max-width: 400px;
        margin-left: auto;
        margin-right:auto;
        float: right;
        } 
    /* responsive images */

    footer{
        display: flex;
        max-width: 45em;
        margin-left: auto;
        margin-right: auto;
        }

    footer aside img.left{
        display: inline-flex;
        float: left;
        margin-right: auto;
        margin-left: auto;
        }
    footer aside img.right{
        display: inline-block;
        float: right;
        margin-right: auto;
        margin-left: auto;
    }
    footer p{
        display: inline-flex;
        font-size: 16px;
      
    }
}