@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
   #image2 {
        display: inline-block;
        padding: 0;
        width: 1030px;
        height: 150px;
    }
    
    section.forecast { 
        margin: 0;
        padding: 0;
        display: inline-block;
        background-color: #3D59AB;
        text-align: center;
        border: 1px solid black; 

     }  /* show the 10-day forecast with the medium view and up */
    table {
        margin: 0;
        padding: 0;
        width: 64em;
        display: inline-table;
        border: 1px solid black;
    }
  article p.town-article img { width: 29.333%; }
    }
footer {
    font-family: courier;
    font-size: 12px; 
    background-color: #008000;
    text-align: center;
    display: inline-block;
}

footer aside {
    margin: 0;
    padding: 0;   
}

footer>p {
    margin: 0;
    padding: 0;
}